
.chat-input-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 20px;
    border-radius: 20px;
    width: 80%;
}
.send-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.input-wrapper {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.input-wrapper:focus {
    outline: none;
}