.chat-message {
    padding: 8px 15px;
    margin-bottom: 10px;
    max-width: 60%;
    border-radius: 15px;
    font-size: 16px;
    width: fit-content;
    word-break: break-all;
}
.chat-message.sent{
    margin-left: auto;
    background-color: rgb(234, 231, 227);
}
.chat-message.received{
    margin-right: auto;
    background-color: rgb(234, 187, 182);
}